<!--=== About Carousel ===-->
       <section id="about" class="bg-brand-secondary-dark">
          <div class="col-lg-12 inner-container text-center wow animated fadeInDown" data-wow-offset="10">
              <h1>Who we are</h1>
              <div class="accent-rule-short"></div>
              <div class="vert-centered-wrapper-150px"><!-- height set in one-page-base.css -->
                  <div class="vert-centered">
                         <!-- carousel -->
                          <div class="carousel slide carousel-fade" id="carousel_fade">
                            <div class="carousel-inner">   
                                 <!-- item 1  -->
                                 <div class="item active">       
                                      <h2>The <span class="emphasis">ACT</span> coalition is a non-profit organization made up of cause-based staff and volunteers striving to preserve and sustain our community.</h2>
                                </div><!-- /end item 1  -->   
                                 <!-- item 2  -->
                                <div class="item ">
                                     <h2>Founded in 1981 by Ian Whitaker, <span class="emphasis">ACT</span> aims to address the many needs of the world's growing refugee population.</h2>
                               </div><!-- /end item 2  --> 
                               <!-- item 3  -->
                               <div class="item ">
                                     <h2>Over the last 20 years, we have successfully resettled more than <span class="emphasis">6,000</span> refugees. We remain dedicated to providing support to all refugees in the resettlement process.</h2>
                               </div> <!-- /end item 3  -->  
                            </div><!-- /end carousel-inner  -->    
                           <!-- controls -->
                            <a class="left carousel-control carousel-control-wide" href="#carousel_fade" role="button" data-slide="prev">
                              <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control carousel-control-wide" href="#carousel_fade" role="button" data-slide="next">
                              <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                          </div> <!-- /end carousel  -->    
                      </div> <!-- /end vert centered inside wrapper -->    
                   </div> <!-- /end vert centered and animation wrapper -->  
               </div>             
          <div class="clearfix"></div>
       </section><!--=== / END about  ===-->