<!--=== GALLERY ===-->
<section id="gallery">
   <div class="col-lg-12 no-padding bg-white">
              <!-- Gallery-->
                  <div id="effect-1" class="effects clearfix">
                             <div class="col-lg-4 col-sm-6 col-xs-12 bg-brand-tertiary wow animated fadeIn text-center"> 
                                  <div class=" col-xs-12 float-over-top-center">
                                        <h1 class="text-uppercase">Recent<br> Projects
                                        <span class="responsive-hide">
                                        	<i class="fa fa-caret-right transparent-30"></i>
                                        </span>
                                        </h1>
                                  </div>
                                  <img src="/assets/gal-spacer.png" alt="gallery" class="img-responsive" > 
                             </div>
                             
                             <div class="img col-lg-4 col-sm-6 col-xs-12 tn wow animated-longer-delay-2 fadeIn">
                                  <div class="gallery effects-container effects-enlarge">
                                      <a href="/assets/gal-bg-children-01.jpg" title="<b>The Water Project</b><br> Ullam corper ullamcorper mauris, non auctor eros pretium nec. Aenean fringilla enim purus, a ultrices tortor tempor id. Nam ultricies, neque at consequat luctus, sapien dui tincidunt velit, eu vehicula urna neque nec arcu. Maecenas gravida, arcu eget ultrices accumsan, turpis nisi viverra felis, ut luctus arcu ligula a nisi. Curabitur convallis erat ac nibh posuere suscipit."  data-gal="prettyPhoto[galleryName]">
                                      	<img src="/assets/gal-tn-children-01.jpg" alt="The Water Project" />
                                         	 <div class="overlay">
                                              <span class="expand"><i class=" fa fa-chevron-right"></i></span>
                                              <div class="overlay-caption">
                                                <h3>The Water Project</h3>
                                                <small>Teams work with developing communities </small>
                                              </div>
                                           </div>
                                       </a>
                                       <!-- This is an example of a sub gallery -->
                                   	<div class="hidden"><a href="/assets/gal-bg-children-03.jpg" data-gal="prettyPhoto[galleryName]" title="<b>The Water Project</b><br> Ullam corper ullamcorper mauris, non auctor eros pretium nec. Aenean fringilla enim purus, a ultrices tortor tempor id. Nam ultricies, neque at consequat luctus, sapien dui tincidunt velit, eu vehicula urna neque nec arcu. Maecenas gravida, arcu eget ultrices accumsan, turpis nisi viverra felis, ut luctus arcu ligula a nisi. Curabitur convallis erat ac nibh posuere suscipit."><img src="/assets/gal-tn-children-03.jpg"  alt="image"></a></div> <!-- / end sub gallery -->
                                  </div>
                             </div>
                                                                 
                             <div class="img col-lg-4 col-sm-6 col-xs-12 tn wow animated-longer-delay-3 fadeIn">
                                  <div class="gallery effects-container effects-enlarge">
                                      <a href="/assets/gal-bg-hands-01.jpg" title="<b>Helping Hands</b><br> Ullam corper ullamcorper mauris, non auctor eros pretium nec. Aenean fringilla enim purus, a ultrices tortor tempor id. Nam ultricies, neque at consequat luctus, sapien dui tincidunt velit, eu vehicula urna neque nec arcu. Maecenas gravida, arcu eget ultrices accumsan, turpis nisi viverra felis, ut luctus arcu ligula a nisi. Curabitur convallis erat ac nibh posuere suscipit."  data-gal="prettyPhoto[1]">
                                      	<img src="/assets/gal-tn-hands-01.jpg"  alt="Helping Hands"/>
                                         	 <div class="overlay">
                                              <span class="expand"><i class=" fa fa-chevron-right"></i></span>
                                              <div class="overlay-caption">
                                                <h3>Helping Hands</h3>
                                                <small>Over 350 volunteers rally in DC</small>
                                              </div>
                                           </div>
                                       </a>
                                  </div>
                             </div>
                            
                             <div class="img col-lg-4 col-sm-6 col-xs-12 tn wow animated-longer-delay-4 fadeIn">
                                  <div class="gallery effects-container effects-enlarge">
                                      <a href="/assets/gal-bg-man-02.jpg" title="<b>One Planet</b><br> Ullam corper ullamcorper mauris, non auctor eros pretium nec. Aenean fringilla enim purus, a ultrices tortor tempor id. Nam ultricies, neque at consequat luctus, sapien dui tincidunt velit, eu vehicula urna neque nec arcu. Maecenas gravida, arcu eget ultrices accumsan, turpis nisi viverra felis, ut luctus arcu ligula a nisi. Curabitur convallis erat ac nibh posuere suscipit."  data-gal="prettyPhoto[1]">
                                      	<img src="/assets/gal-tn-man-02.jpg" alt="One Planet" />
                                         	 <div class="overlay">
                                              <span class="expand"><i class=" fa fa-chevron-right"></i></span>
                                              <div class="overlay-caption">
                                                <h3>One Planet</h3>
                                                <small>Small community advocacy</small>
                                              </div>
                                           </div>
                                       </a>
                                  </div>
                             </div>
                                                                       
                             <div class="img col-lg-4 col-sm-6 col-xs-12 tn wow animated-longer-delay-5 fadeIn">
                                  <div class="gallery effects-container effects-enlarge">
                                      <a href="/assets/gal-bg-feet-01.jpg" title="<b>Social Startups</b><br> Ullam corper ullamcorper mauris, non auctor eros pretium nec. Aenean fringilla enim purus, a ultrices tortor tempor id. Nam ultricies, neque at consequat luctus, sapien dui tincidunt velit, eu vehicula urna neque nec arcu. Maecenas gravida, arcu eget ultrices accumsan, turpis nisi viverra felis, ut luctus arcu ligula a nisi. Curabitur convallis erat ac nibh posuere suscipit."  data-gal="prettyPhoto[1]">
                                      	<img src="/assets/gal-tn-feet-01.jpg" alt="Social Startups" />
                                         	 <div class="overlay">
                                              <span class="expand"><i class=" fa fa-chevron-right"></i></span>
                                              <div class="overlay-caption">
                                                <h3>Social Startups</h3>
                                                <small>Community led conferences</small>
                                              </div>
                                           </div>
                                       </a>
                                  </div>
                             </div>
                             
                             <div class="img col-lg-4 col-sm-6 col-xs-12 tn wow animated-longer-delay-6 fadeIn">
                                  <div class="gallery effects-container effects-enlarge">
                                      <a href="/assets/gal-bg-children-02.jpg" title="<b>Tell Your Story</b><br> Ullam corper ullamcorper mauris, non auctor eros pretium nec. Aenean fringilla enim purus, a ultrices tortor tempor id. Nam ultricies, neque at consequat luctus, sapien dui tincidunt velit, eu vehicula urna neque nec arcu. Maecenas gravida, arcu eget ultrices accumsan, turpis nisi viverra felis, ut luctus arcu ligula a nisi. Curabitur convallis erat ac nibh posuere suscipit."  data-gal="prettyPhoto[1]">
                                      	<img src="/assets/gal-tn-children-02.jpg" alt="Tell Your Story" />
                                         	 <div class="overlay">
                                              <span class="expand"><i class=" fa fa-chevron-right"></i></span>
                                              <div class="overlay-caption">
                                                <h3>Tell Your Story</h3>
                                                <small>24 hours + 24 people</small>
                                              </div>
                                           </div>
                                       </a>
                                  </div>
                             </div>
                    </div><!-- end hover effects wrapper-->
      </div><!-- / end inner container -->  
  <div class="clearfix"></div>
</section><!--=== / END gallery  ===-->      