<!--=== GET INVOLVED ===-->
       <section id="join" class="bg-white">
          <div class="inner-container">
              <!-- section header -->
              <div class="row text-center">
                  <div class="col-lg-8 col-xs-12 col-lg-offset-2  wow animated fadeInDown">
                      <h1 class="">Make an Impact</h1>
                      <div class="accent-rule-short"></div>
                      <h2>Interested in connecting with a larger community? We'd love to hear from you! Check out the number of ways to get involved.</h2>
                  </div>
              </div><!-- / end section header -->
              <div class="row row-after-a-row row-of-columns">
                  <div class="col-lg-3 col-sm-6 text-center  wow animated-longer-delay-1 fadeIn">
                      <button class="btn  btn-white text-big" data-toggle="modal" data-target="#joinModal1"><i class="text-primary fa fa-send"></i></button>
                      <h3>Spread the word</h3>
                      <p>Contact us with your genius social media marketing strategy. If we like it, we'll put you in charge of it.</p>
                      <button class="btn btn-black btn-sm" data-toggle="modal" data-target="#joinModal1">Contact us</button>
                  </div>
                  <div class="col-lg-3 col-sm-6 text-center  wow animated-longer-delay-4 fadeIn">
                      <button class="btn btn-white text-big text-primary" data-toggle="modal" data-target="#joinModal2"><i class="fa fa-graduation-cap"></i></button>
                      <h3>Be an Ambassador</h3>
                      <p>Do you want to spearhead initiatives that inspire mass change? Click below to apply to become an ambassador.</p>
                      <button class="btn btn-black btn-sm" data-toggle="modal" data-target="#joinModal2">Apply Now</button>
                  </div>
                  <div class="col-lg-3 col-sm-6 text-center  wow animated-longer-delay-5 fadeIn">
                      <button class="btn btn-white text-big text-primary" data-toggle="modal" data-target="#joinModal3"><i class="fa fa-calendar"></i></button>
                      <h3>Host an Event</h3>
                      <p>We need people! If your up for hosting one of our monthly events in your area, we want to hear from you.</p>
                      <button class="btn btn-black btn-sm" data-toggle="modal" data-target="#joinModal3">Signup</button>
                  </div>
                  <div class="col-lg-3 col-sm-6 text-center  wow animated-longer-delay-6 fadeIn">
                      <button class="btn btn-white text-big text-primary" data-toggle="modal" data-target="#joinModal4"><i class="fa fa-globe"></i></button>
                      <h3>Come Work for Us</h3>
                      <p>Are you a leader who shares our passion for social change? If your up to the challenge, submit your creds below.</p>
                      <button class="btn btn-black btn-sm" data-toggle="modal" data-target="#joinModal4">Submit your resume</button>
                  </div>
              </div>
          </div>
         <div class="clearfix"></div>
     </section><!--=== / END get involved   ===--> 