<!--=== PROCESS ===--> 
        <section id="process" class="bg-brand-warning-med">
            <div class="col-lg-4 col-md-4 bg-brand-warning">
                <div class="responsive-hide">
                    <div class="triangle-right wow animated-longer-delay-3 fadeIn"><span class="text-big"><i class="fa fa-caret-right text-warning"></i></span></div>
                </div>
                <div class="col-lg-12 col-md-12 inner-container-small wow animated fadeIn" data-wow-offset="10">
                    <div class="pull-left icon-circle-md">
                        <button class="btn-circle btn-white"><i class="fa fa-file-text fa-2x"></i></button>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <h2>Read Our Stories</h2>
                        <p> Aenean sed massa vel metus porttitor volutpat. Integer vehicula nisl at porttitor aliquet. Id dapibus tellus vel.<br><br>
                        <button class="btn btn-black btn-sm">Visit the Blog</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 bg-brand-warning-med">
                <div class="responsive-hide">
                    <div class="triangle-right wow animated-longer-delay-5 fadeIn"><span class="text-big"><i class="fa fa-caret-right text-warning-darker"></i></span></div>
                </div>
                <div class="col-lg-12 col-md-12 inner-container-small wow animated-longer-delay-3 fadeIn" data-wow-offset="10">
                    <div class="pull-left icon-circle-md">
                        <button class="btn-circle btn-white"><i class="fa fa-users fa-2x"></i></button>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <h2>Join The Coalition</h2>
                        <p>  Aenean sed massa vel metus porttitor volutpat. Integer vehicula nisl at porttitor aliquet. Id dapibus tellus vel.<br><br>
                        <button class="btn btn-black btn-sm">Join Now</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 bg-brand-warning-darker">
                <div class="col-lg-12 col-md-12 inner-container-small wow animated-longer-delay-5 fadeIn" data-wow-offset="10">
                    <div class="pull-left icon-circle-md">
                        <button class="btn-circle btn-white"><i class="fa fa-globe fa-2x"></i></button>
                    </div>
                    <div class="col-lg-9 col-md-9">
                        <h2>Impact The World</h2>
                        <p> Aenean sed massa vel metus porttitor volutpat. Integer vehicula nisl at porttitor aliquet. Id dapibus tellus vel.<br><br>
                        <button class="btn btn-black btn-sm">Let's Get Started</button>
                        </p>
                    </div>
                </div>
            </div><div class="clearfix"></div>
         </section><!--=== / END process  ===-->