<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var myLatlng = new google.maps.LatLng(11.03909,77.540643);
        var mapOptions = {
          zoom: 15,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.HYBRID
        }
        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
          title: 'Sri Sivanmalai Murugan Arul Trust Land'
        });
      }

google.maps.event.addDomListener(window, 'load', initialize);


    </script>



<div id="contact">
	<h1>Contact</h1>
                <div id="map_canvas">
        </div>
                <h3>Sri Sivanmalai Murugan Arul Trust</h3>
                <p>Want to donate money or things to support free feed which is organised by us, at our trust place in sivanmalai on every year Thai poosam, please do contact us in below mobile numbers or email.</p>
	<!--img src="images/telephone.png" alt="Img"-->
		<table>
			<tbody>
				<tr>
					<td><label>Mobile Number:</label></td>
					<td>9944677776</td>
				</tr>
				<tr>
				    <td></td>
				    <td>9842819999</td>
				</tr>
				<tr>
				    <td></td>
				    <td>9865656969</td>
				</tr>
				<tr>
				    <td></td>
				    <td>9942161071</td>
				</tr>
				<tr>
				    <td></td>
				    <td>9942771181</td>
				</tr>
				<tr>
				    <td></td>
				    <td>9443270747</td>
				</tr>
				<tr>
					<td><label>Email:</label></td>
					<td>info@srimurugan.org</td>
				</tr>
			</tbody>
		</table>
	</form>
</div>