
		<div id="adbox">
			<div>
				<img src="/assets/home-murugan.jpg" alt="Img" class="home-image">
				<div class="details">
				   <img src="/assets/home-song.jpg" alt="Img">	
				</div>
			</div>
			<span class="footer"></span>
		</div>
		<!--div id="featured">
			<a href="index.html" class="all-colors"></a> <a href="index.html" class="highlights"></a> <a href="index.html" class="coloring"></a>
		</div-->
	</div>

	

<style type="text/css">
.home-image{width:458px;margin-left: -49px !important;margin-top: 87px !important;}
</style>
