<!--=== FOOTER ===-->
<section id="footer">
  <!-- Row 1 -->
      <div class="row footer-top row-of-columns">
          <div class="inner-container-small wow animated fadeIn">
              <div class="col-md-3">
                    <!-- Mission -->
                    <div class="headline"><h5>Mission</h5></div>  
                    <p>Act is a one-page template designed with non-profits in mind. The download includes a number of components to get you started including an email template along with a blog skin.  </p><!-- end Mission -->
                    
                    <!-- Monthly Newsletter -->
                    <div class="headline"><h5>Monthly Newsletter</h5></div> 
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form class="footer-subscribe">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Email Address">                            
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">Subscribe</button>
                            </span>
                        </div>                  
                    </form><!-- end Monthly Newsletter -->
              </div>
              <div class="col-md-3">
                        <div class="content-stacked">
                            <!-- Community -->
                            <div class="headline-first"><h5>Community</h5></div>
                                  <ul class="list-unstyled list-vert-solid-line">
                                      <li><i class="fa fa-angle-right text-primary"></i><a href="javascript:void(0)">Our Issues Blog</a></li>
                                      <li><i class="fa fa-angle-right text-primary"></i><a href="javascript:void(0)">Calendar of Events</a></li>
                                      <li><i class="fa fa-angle-right text-primary"></i><a href="javascript:void(0)">Membership</a></li>
                                      <li><i class="fa fa-angle-right text-primary"></i><a href="javascript:void(0)">History</a></li>
                                      <li><i class="fa fa-angle-right text-primary"></i><a href="javascript:void(0)">Donors</a></li>
                                      <li><i class="fa fa-angle-right text-primary"></i><a href="javascript:void(0)">Related</a></li>
                                  </ul><!-- / end Community -->
                            <div class="clearfix"></div>
                     </div>
              </div>
              <div class="col-md-3">
                    <!-- Recent Blog Entries -->
                    <!-- / end recent blog entries -->
              </div>
              <div class="col-md-3 last">
                <div class="headline-first"><h5>Address</h5></div>
				<p>Mangudi Village.<br>
				Mutharasan(POST),<br>
				Sivagangai - 630561,<br>
				Tamil Nadu, India,<br>
				Ph: 9986525393</p>
			    <!-- Flickr -->
              <!-- / end flickr -->
              </div>
              <div class="clearfix"></div>
           </div><!-- / end inner container -->
      </div><!-- / end Row 1 -->
	 <!-- Row 2 -->
      <div class="row footer-bottom">
          <div class="inner-container-small wow animated fadeIn">
              <div class="col-lg-3 col-sm-12 left"><p><small class="transparent-50">© 2014 yokCreative. All Rights Reserved.</small></p></div>
              <div class="col-lg-3 col-sm-12 pull-right">
                   
              </div>
          </div>
      </div><!-- / end Row 2 -->
</section><!--=== END Footer ===-->