<header id="home" class="intro">
	<div class="overlay-dark">
		<div class="intro-body">
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner">
					<% Image.god.each_with_index do |image,i| %>
						<div class="item <%= 'active' if i==0 %>">
							<img src="<%= image.big_image %>" alt="Slide3">  
						</div>
					<% end %>
				</div>
				<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="fa fa-chevron-left fa-2x"></span></a><a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="fa fa-chevron-right fa-2x"></span></a>
			</div><!-- /end carousel  -->
		</div><!-- /end carousel container-->
	</div>
</header>