<nav class="navbar navbar-custom navbar-fixed-top " role="navigation">
  <div class="container-wide">
          <div class="navbar-header">
              <ul class="list-unstyled list-inline pull-right">
                  <li>
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                          <i class="fa fa-bars"></i>
                      </button>     
                  </li>
                  <li id="donate-button-responsive" class="donate bg-brand-tertiary bg-br">
                       <a  href="#donateModal" data-toggle="modal" role="button" class="nav-show-hide">Donate</a>     
                  </li>      
              </ul>         
              <a id="logo" class="navbar-brand-home navbar-brand" href="index.html"><img src="/assets/logo.png" alt="logo"></a>
          </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
          <ul class="nav navbar-nav">
              <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="first"><a href="#home" class="hidden-li"></a></li>
                  <li class="page-scroll">
                      <a href="index.html">Home</a>
                  </li>
                  <li class="page-scroll">
                      <a href="index.html#about">About</a>
                  </li>
				  <li class="page-scroll">
                      <a href="index.html#gallery">Gallery</a>
                  </li>
				 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">SSNM <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Events</a></li>
                    <li><a href="reports.html">Donation Reports</a></li>
                    
                  </ul>
                </li>
				 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">SVK <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports</a></li>
                    <li><a href="loan_detail.html">Loan Details</a></li>
							<li><a href="month_loan_reports.html">Monthly Details</a></li>
							<li><a href="grand.html">Grand Details</a></li>
							<li><a href="transaction.html">Transaction</a></li>
							<li><a href="totalcollection.html">Total Collection</a></li>
                  </ul>
                </li>
                  <li class="page-scroll">
                      <a href="index.html#contact">Contact us</a>
                  </li>
				  <li class="page-scroll">
                      <a href="signin.html"> Sign In</a>
                  </li>
                
          </ul>
           
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>